* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.main-image {
    height: 68vh;
    width: 100%;
}

.main-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    display: block;
    margin: 3rem auto;
}